.popUpContainer{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;

  > :first-child{
    > :first-child {
      margin: 24px 40px;
      font-size: 100px;
    }
  }

}

.cardContainer {
  position: relative;
  height: 850px;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 850px;

    display: flex;
    flex-direction: column;
    align-items: center;
    > img {
      height: 100%;
    }
  }



  > :nth-child(2) {
    > :first-child {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100vw;
      height: 850px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      font-size: 24px;
      font-feature-settings: 'pwid' on;
      font-family: "Hiragino Kaku Gothic Pro", serif;
      font-style: normal;
      font-weight: bold;
      line-height: 125%;
      letter-spacing: 1.5px;
      box-sizing: border-box;
      padding-bottom: 100px;
    }

   > :nth-child(2) {
     position: absolute;
     top: 0;
     left: 0;
     //background-color:  rgba(255, 29, 29, 0.594);
     width: 100vw;
     height: 850px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     > div {
       //background-color: rgba(29, 183, 255, 0.594);
       position: absolute;
       top: 190px;
       width: 420px;
       height: 470px;
       display: flex;
       justify-content: center;
       align-items: center;
       //overflow: hidden; // はみ出た部分を切り取る

       > img {
         height:100%;
         width: 100%;
         object-fit: contain;
       }
     }
   }
    > :nth-child(3) {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100vw;
      height: 850px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 32px;
      font-feature-settings: 'pwid' on;
      font-family: "Hiragino Kaku Gothic Pro", serif;
      font-style: normal;
      font-weight: bold;
      line-height: 125%;
      letter-spacing: 1.5px;
    }
  }
}

.slideInFromBottom {
  animation: slideInFromBottom 0.5s forwards;
}

@keyframes slideInFromBottom {
  0% {
    //transform: translateY(100vh) rotateY(0deg);
    transform: translateY(100vh);
  }
  100% {
    //transform: translateY(0) rotateY(360deg);
    transform: translateY(0);
  }
}