.homeContainer{
  height: 100vh;
  box-sizing: border-box;
  padding: 0 0 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > div {
    position: relative;
    height: 800px;

    > :first-child {
      margin-top: 20px;
      //height: 800px;
      height: 100%;
    }

    > :nth-child(2){
      height: 140px;
      position: absolute;
      top: 517px;
      left:230px;

      > img {
        height: 100%;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotateAnimation {
  animation: rotate 1s linear;
}