.homeContainer{
  height: 100vh;
  box-sizing: border-box;
  padding: 0 0 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > :first-child {
    margin-top: 20px;
    height: 800px;
  }

  > :nth-child(2){
    height: 140px;
    position: absolute;
    top: 517px;
    left:355px;

    > img {
      height: 100%;
    }
  }

  > :last-child {
    font-size: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotateAnimation {
  animation: rotate 1s linear;
}